{% extends "UserManager/base.html" %}
{% block title %}
    Password Reset Done
{% endblock %}
{% block body_title %}
    Password Reset Done!
{% endblock %}
{% block body %}
    <p align="center">
        <img class='text-center' src="/covers/python-happy.jpeg" align="center" alt="happy python">
    </p>
    <hr>
    <p align="center">

        Great! You have just requested a reset of your password. Kindly check your mail and spam folder for further
        instructions.
    </p>

{% endblock %}
